p.centreOfTheEarth {
    text-align: center;
}
p#biggieSmalls {
    font-size: 50px;
}
p.textFont {
    font-family: monospace;
    color:white;
}
.centreImage {
    position: absolute;
    top: 50%;
    left: 50;
}
p.scoreLocation {
    text-align: right;
    vertical-align: top;
}
.resetLocation {
    position: absolute;
    top: 95%;
    left: 50%;
}
.backgroundColor {
    background-color: black;
}
