p.makeCenter {
    text-align: center;
}
p#enlarge {
    font-size: 50px;
}
p.textFont {
    font-family: monospace;
    color:white;
}
.centerImage {
    position: absolute;
    top: 50%;
    left: 50;
}
p.scoreLocation {
    text-align: right;
    vertical-align: top;
}
.resetLocation {
    position: absolute;
    top: 95%;
    left: 50%;
}
.backgroundColor {
    background-color: black;
}
.hidden {
    display:none;
}
body {
    background-image: url('../images/night.png');
    background-size: cover;

}
